body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: #111;
  border-radius: 4px;
  color: #b2b2b2;
  padding: 10px 0px 30px 30px;
  margin: 16px;
}

h1 {
  text-align: center;
}

h2 {
  color: #fff;
}

span {
  color: #febe01;
}

a {
  display: inline-block;
  color: #111;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #febe01;
}

a:hover {
  background-color: #332200;
  color: #fff;
}
